.BatchHistory{
    position: relative;
    display: flex;
    flex-direction: column;
}

.history-header{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .5rem;
}

.history-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
    width: 100%;
    padding: .5rem;
    column-gap: 2rem;
}
.history-batch-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.reload-button{
    align-self: center;
    width: 10%;
    padding: .5rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    cursor: pointer;
}