.WHInventoryView{
    backdrop-filter: blur(.5rem);
    background-color: var(--tint-black-03);
    border-radius: .5rem;
    margin-left: 1rem;
    width: 100%;
    height: 60%;
    padding: 1rem;
    color: var(--text-color);
}
.inventory-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}
.inventory-body{
    display: flex;
    flex-direction: column;
    align-items: top;
    height: 100%;
    text-align: center;
    overflow: auto;
}
.inventory-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.inventory-item:nth-child(odd){
    background-color: var(--tint-white-01);
}
