.SystemStatus{
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: left;
    overflow:hidden;
    width: 80vw;
    margin: 0;
}