.BatchView {

    backdrop-filter: blur(1rem);
    border-radius: .5rem;
    box-shadow: 0 0 1rem black;
    width: 60vw;
    height: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: linear-gradient(var(--tint-white-03) 0%, var(--tint-black-01) 15%);
}

.batch-view-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.body-headers {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}
p{
    margin: 0;
    padding: 0;
}

.events-contents{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: top;
    justify-content: space-evenly;
    width: 100%;
    min-width: 100%;
}

.inactive{
    color: grey;
}

.highlight{
    color: cyan;
}

h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.body {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 9fr;
    width: 100%;
    height: 80%;
    align-items: top;
    justify-content: space-between;
}

.batch-view-event-list {
    max-height: 47%;
    min-width: 100%;
    overflow-y: auto;
    padding: .5rem;
}

.batch-view-event {
    margin-bottom: 1rem;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
}

.twobytwo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: top;
    min-width: 100%;
    margin-bottom: 5px;
}

.event-header{
    color: white;
}


.batch-view-description {
    width: 100%;
    font-size: 16px;
    margin: 0;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    color: #ccc;
    cursor: pointer;

}